.container-fluid{
    /* makes your page span from end to end */
    margin: 0;
    padding:0;
}
.intro{
    background-image: url('/images/backgrounds/h_img.jpg');
    background-size: cover; 
    /* preserves image's aspect ratio */
    background-attachment: fixed;
    /* image will not scroll with the rest of the page */
    text-align: center;
    color: white;
    width: 100%;
}
.logo{
    padding-top:14% ;
}
.intro h1{
    padding-top:3%;
    font-size: 60px;
}
.intro h2{
    font-size: 50px;

}
.mouse{
    padding-bottom:4%;
}
.description{
    text-align: center;
   
    
}
.description h1{
    font-size: 30px;
    font-weight: bold;
    padding-top:3%;
    padding-bottom:1%;
}
.description p{
    font-size: 15px;
}
.services{
    background-image: url('/images/backgrounds/s_image.jpg');
    background-size: cover; 
    /* preserves image's aspect ratio */
   
    text-align: center;
    color: white;
    
}
.services h1{
    padding-top: 5%;
    font-size: 30px;

}
.services p{
    padding-top:2%;
    padding-bottom: 5%;
}
.development p, .design p, .product p{
  display: none;
}
.whatwedo{
    text-align: center;

}
.whatwedo {
    padding: 0;
}
#title1 {
    font-size: 30px;
    font-weight: bolder;
}

.title{
    font-weight: bolder;
}
.head{
    font-size: 19px;
    padding-top: 5%;
    font-weight: normal;
}
.wedo{
    padding-top: 8%;
}
.row {
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
}
.col-md-3{
    padding: 1%;
}
.col-md-3 img{
    object-fit: contain;
}
.project{
    display:none ;
    text-transform: uppercase;
    font-weight: bolder;
    border: 4px solid white;
    width: 70%;
    height: 50%;
    padding-top: 10%;
    font-size: 20px;
    text-align: left;
    color: white;

}
.porttitle{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding-top:3% ;
    padding-bottom: 2%;
}
.contact{
    background-image:url(/images/backgrounds/c_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 3%;
}
.ctitle{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 3%;
}
input[type=text] {
    color: white;
   width: 400px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid whitesmoke;
    background-color: inherit;
  }
  input[type=email] {
    color: white;
   width: 400px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid whitesmoke;
    background-color: inherit;
    
  }
  #form{
      padding: 1%;
      padding-left: 4%;
      padding-right:1%;
  }
  #mess{
      
      height: 200px;
      width: 900px;
      padding-right: 3%;
      padding-top: 0px;
      margin-top: 0px;
  }
  #message{
      padding-right:1px;
      padding-left: 40px;
      padding-top: 0px;
      margin-top: 0px;
  }
  ::placeholder{
      color: white;
      padding-top: 0px;
  }
  input[type=submit]{
      width: 100%;
      text-align: center;
      
  }
  #submit{
      padding-left:350px;
      padding-top: 3%;
      padding-bottom: 2%;
  }
  .socials{
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
      
  }
  .socials img{
      padding: 10px;
  }